<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Rent-a-Car</title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
</head>
<body>
<div id="container" class="container-md">
    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div id="main">

        <h3><strong>Summary:</strong></h3>
        <br>

        <form class="change_action_form" th:object="${reservationData}" th:action="@{/reservation}" th:method="POST">
            <input type="hidden" th:field="*{indexData.departmentIdFrom}">
            <input type="hidden" th:field="*{indexData.departmentIdTo}">
            <input type="hidden" th:field="*{indexData.firstBranchChecked}">
            <input type="hidden" th:field="*{indexData.dateFrom}">
            <input type="hidden" th:field="*{indexData.dateTo}">
            <input type="hidden" th:field="*{indexData.dateCreated}">
            <input type="hidden" th:field="*{carId}">

            <div class="container text-center">
                <div class="row">
                    <div class="col mb-5">
                        <dl style="text-align: left">
                            <dt style="font-weight: bold">Vehicle pick-up:</dt>
                            <dt style="font-weight: normal"
                                th:text="${branchFrom.getCity()} + ' ' + ${branchFrom.getPostcode()} + ', '"></dt>
                            <dt style="font-weight: normal" th:text="${branchFrom.getAddress()}"></dt>
                        </dl>
                        <ul style="text-align: left; list-style-type:none">
                            <li><strong>Date:</strong></li>
                            <li th:text="${reservationData.indexData.dateFrom}"></li>
                        </ul>
                        <br>
                        <dl style="text-align: left">
                            <dt style="font-weight: bold">Vehicle return:</dt>
                            <dt style="font-weight: normal"
                                th:text="${branchTo.getCity()} + ' ' + ${branchTo.getPostcode()} + ', '"></dt>
                            <dt style="font-weight: normal" th:text="${branchTo.getAddress()}"></dt>
                        </dl>
                        <ul style="text-align: left; list-style-type:none">
                            <li><strong>Date:</strong></li>
                            <li th:text="${reservationData.indexData.dateTo}"></li>
                        </ul>
                        <br>
                    </div>
                    <div class="col-5 mb-5">
                        <h5><strong>Vehicle</strong></h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" th:text="'Model: ' + ${car.model}"></li>
                            <li class="list-group-item" th:text="'Car type: ' + ${car.carType.getName()}"></li>
                            <li class="list-group-item" th:text="'Production date: ' + ${car.year}"></li>
                            <li class="list-group-item" th:text="'Seats: ' + ${car.seats}"></li>
                        </ul>
                        <br>
                    </div>
                    <div class="col mb-5">
                        <img th:src="${car.jpgLink}" alt="Picture" width="255" height="150"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="d-flex flex-column">
                            <button class="btn btn-dark bg-dark def-button-text"
                                    type="submit" onclick="setFormAction('/reservation/back', 0)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                                </svg>
                                Back
                            </button>
                        </div>
                    </div>
                    <div class="col-5">
                        <ul style="list-style-type:none">
                            <li style="font-weight: bold">Order value:</li>
                            <li th:text="'Rental: ' + ${#numbers.formatDecimal(raw_price, 1, 2, 'POINT')} + ' PLN'"></li>
                            <li th:text="'Different location return: ' + ${#numbers.formatDecimal(diff_return_price, 1, 2, 'POINT')} + ' PLN'"></li>
                            <li th:text="'————'"></li>
                            <li th:utext="'<svg xmlns=&quot;http://www.w3.org/2000/svg&quot; width=&quot;16&quot; height=&quot;16&quot; fill=&quot;currentColor&quot; class=&quot;bi bi-exclamation-circle&quot; viewBox=&quot;0 0 16 16&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;top&quot; title=&quot;Cancellation policy: Free cancellation up to ' + ${refund_fee_days} + ' days before the rental date. Late cancellations may be subject to a ' + ${fee_percentage} + '% cancellation fee. Details in the regulations.&quot;><path d=&quot;M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z&quot;/><path d=&quot;M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z&quot;/></svg> '
                                    + 'Total price: ' + ${#numbers.formatDecimal(total_price, 1, 2, 'POINT')} + ' PLN'"></li>
                            <li th:utext="'<svg xmlns=&quot;http://www.w3.org/2000/svg&quot; width=&quot;16&quot; height=&quot;16&quot; fill=&quot;currentColor&quot; class=&quot;bi bi-exclamation-circle&quot; viewBox=&quot;0 0 16 16&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;top&quot; title=&quot;Deposit: An additional separate sum that will be refunded within ' + ${deposit_deadline} + ' working days after the end of the reservation. Details in the regulations.&quot;><path d=&quot;M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z&quot;/><path d=&quot;M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z&quot;/></svg>' + ' + Deposit: ' + ${#numbers.formatDecimal(car.depositValue, 1, 2, 'POINT')} + ' PLN'"></li>
                        </ul>
                        <br>
                    </div>
                    <div class="col">
                        <div class="d-flex flex-column">
                            <button class="btn btn-dark bg-dark def-button-text"
                                    type="submit" onclick="setFormAction('/reservation/confirm', 0)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-check-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                                </svg>
                                Reserve
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div th:include="fragments/bottom::bottom-footer"></div>
    </div>
</div>
<div th:include="fragments/bottom::common-scripts"></div>
</body>
</html>