<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Rent-a-Car</title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>

<body>
<div id="container">

    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div class="row">
        <form id="res" th:action="@{/mg-depo/search}" th:object="${searchDepositsForm}" th:method="POST"
              class="form-inline">

            <div class="row mb-2" style="margin-top: 5%">

                <div class="row"
                     style="width: 100%; flex-shrink: 1; display:inline-flex; flex-wrap: nowrap; padding-right: 0;">
                    <div class="col-sm-3 c-input">
                        <input type="text" class="form-control" placeholder="Name"
                               th:field="*{customerName}">
                    </div>
                    <div class="col-sm-3 c-input">
                        <input type="text" class="form-control" placeholder="Surname"
                               th:field="*{customerSurname}">
                    </div>

                    <div class="between-fields" style="justify-content: flex-end;" th:text="'Deadline:'"></div>

                    <div class="col-sm-3 c-input" style="width: fit-content;">
                        <input type="date" class="form-control"
                               th:field="*{dateFrom}">
                    </div>
                    <div class="between-fields c-input" th:text="'↔'" style="width: fit-content;"></div>
                    <div class="col-sm-3 c-input" style="width: fit-content; padding-right: 0;">
                        <input type="date" class="form-control"
                               th:field="*{dateTo}">
                    </div>
                </div>
                <div class="row" style="margin-top: 1%; flex-wrap: nowrap; padding-right: 0;">
                    <div class="col-sm-3 c-input" style="width: fit-content;">
                        <select type="text" th:field="*{departmentBack}" class="form-control">
                            <option th:value="null" th:text="Any"></option>
                            <div th:each="departmentBack:${departmentsCountry}">
                                <option th:text="${departmentBack.getCity()} + ', ' + ${departmentBack.getAddress()}"
                                        th:value="${departmentBack.getId()}"></option>
                            </div>
                        </select>
                    </div>
                    <div class="col c-input" style="justify-content: end; padding-right: 0;">
                        <button class="btn btn-dark bg-dark"
                                type="submit">

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                            </svg>
                            Search
                        </button>

                    </div>
                </div>
            </div>
            <div th:insert="fragments/bottom::form-error-handler"></div>
        </form>

        <br>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-borderless table-hover table-fixed"
                   style="text-align: center; vertical-align: middle;">
                <thead class="table-dark">
                <tr>
                    <th scope="row">Name</th>
                    <th scope="row">Department</th>
                    <th scope="row">Car</th>
                    <th scope="row">Deadline</th>
                    <th scope="row"></th>
                </tr>
                </thead>
                <form th:action="@{/mg-depo/check}" th:method="POST">
                    <tbody>
                    <th:block th:if="${#lists.isEmpty(results)}">
                        <td th:text="'—'"></td>
                        <td th:text="'—'"></td>
                        <td th:text="'—'"></td>
                        <td th:text="'—'"></td>
                        <td></td>
                    </th:block>
                    <tr th:each="result: ${results}">
                        <td>
                            <div class="overflow-cell-hs"
                                 th:utext="${result.reservation.customer.getName()} + '<br>' + ${result.reservation.customer.getSurname()}"></div>
                        </td>
                        <td>
                            <div class="overflow-cell-hs"
                                 th:utext="${result.reservation.departmentBack.getCity()} + ', <br>' + ${result.reservation.departmentBack.getAddress()}"></div>
                        </td>
                        <td>
                            <div class="overflow-cell-hs"
                                 th:text="${result.reservation.car.getPlate()}"></div>
                        </td>
                        <td>
                            <div class="overflow-cell-hs" th:text="${result.dateTo}"></div>
                        </td>
                        <td style="position: relative;">
                            <button type="submit" class="btn btn-dark list-button" th:text="Check"
                                    th:name="check_button"
                                    th:value="${result.id}"></button>
                        </td>
                    </tr>
                    </tbody>
                </form>
            </table>
        </div>
    </div>
    <div th:include="fragments/bottom::bottom-footer"></div>
    <div th:insert="fragments/bottom::message-handler"></div>
</div>
<div th:include="fragments/bottom::common-scripts"></div>
</body>
</html>