<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Rent-a-Car</title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>

<body>
<div id="container">

    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div class="row">
        <div class="row" style="text-align:end;"><h6><i th:text="'Results: ' + ${results.size()}"></i></h6></div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div>
                <a href="/mg-car" class="btn btn-outline-dark def-button-text w-100 my-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                    Car Bases</a>
            </div>
            <form th:object="${searchCarBasesForm}" th:action="@{/mg-car/car-bases/search}" th:method="POST">
                <div style="display: grid; grid-template-columns: repeat(2, 1fr);">
                    <button class="btn btn-dark bg-dark"
                            style="margin: 1%"
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#registerModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                        Add
                    </button>
                    <button class="btn btn-dark bg-dark"
                            style="margin: 1%"
                            type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                             class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                        </svg>
                        Search
                    </button>
                </div>

                <div><br></div>

                <div class="accordion" id="accordionPanelsStayOpen">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="deposit-heading">
                            <button class="accordion-button collapsed text-light bg-dark" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#depositAcc" aria-expanded="true"
                                    aria-controls="depositAcc">
                                Deposit
                            </button>
                        </h2>
                        <div id="depositAcc"
                             th:class="${searchCarBasesForm.depositMin != null || searchCarBasesForm.depositMax != null} ? 'collapse show' : 'collapse'"
                             aria-labelledby="deposit-heading">
                            <div class="accordion-body">
                                <div class="form-group">
                                    <div class="d-flex" style="flex-direction:column;">
                                        <div class="row">
                                            <input type="number" class="form-control" name="depositMin"
                                                   th:field="*{depositMin}" placeholder="Min">
                                        </div>
                                        <div class="row my-1"></div>
                                        <div class="row">
                                            <input type="number" class="form-control" name="depositMax"
                                                   th:field="*{depositMax}" placeholder="Max">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="price-heading">
                            <button class="accordion-button collapsed text-light bg-dark" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#priceAcc" aria-expanded="true"
                                    aria-controls="priceAcc">
                                Price per day
                            </button>
                        </h2>
                        <div id="priceAcc"
                             th:class="${searchCarBasesForm.priceMin != null || searchCarBasesForm.priceMax != null} ? 'collapse show' : 'collapse'"
                             aria-labelledby="price-heading">
                            <div class="accordion-body">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="priceMin" th:field="*{priceMin}"
                                               placeholder="Min">
                                        <input type="text" class="form-control" name="priceMax" th:field="*{priceMax}"
                                               placeholder="Max">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="brand-heading">
                            <button class="accordion-button collapsed text-light bg-dark" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#brandAcc" aria-expanded="true"
                                    aria-controls="brandAcc">
                                Brand
                            </button>
                        </h2>
                        <div id="brandAcc"
                             th:class="${#lists.isEmpty(searchCarBasesForm.brands)} ? 'collapse' : 'collapse show'"
                             aria-labelledby="brand-heading">
                            <div class="accordion-body">
                                <div class="form-check" th:each="brand : ${brands}">
                                    <input class="form-check-input" type="checkbox" th:value="${brand}"
                                           th:id="'brand' + ${brand}" th:field="*{brands}" name="brands">
                                    <label class="form-check-label" th:for="'brand' + ${brand}"
                                           th:text="${brand}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="type-heading">
                            <button class="accordion-button collapsed text-light bg-dark" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#typeAcc" aria-expanded="false"
                                    aria-controls="typeAcc">
                                Car type
                            </button>
                        </h2>
                        <div id="typeAcc"
                             th:class="${#lists.isEmpty(searchCarBasesForm.types)} ? 'accordion-collapse collapse' : 'accordion-collapse collapse show'"
                             aria-labelledby="type-heading">
                            <div class="accordion-body">
                                <div class="form-check" th:each="type : ${types}">
                                    <input class="form-check-input" type="checkbox" th:value="${type}"
                                           th:id="'type' + ${type}" th:field="*{types}" name="types">
                                    <label class="form-check-label" th:for="'type' + ${type}"
                                           th:text="${type.getName()}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="year-heading">
                            <button class="accordion-button collapsed text-light bg-dark" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#yearAcc" aria-expanded="false"
                                    aria-controls="yearAcc">
                                Production
                            </button>
                        </h2>
                        <div id="yearAcc"
                             th:class="${#lists.isEmpty(searchCarBasesForm.years)} ? 'accordion-collapse collapse' : 'accordion-collapse collapse show'"
                             aria-labelledby="year-heading">
                            <div class="accordion-body">
                                <div class="form-check" th:each="year : ${years}">
                                    <input class="form-check-input" type="checkbox" th:value="${year}"
                                           th:id="'year' + ${year}" th:field="*{years}" name="years">
                                    <label class="form-check-label" th:for="'year' + ${year}"
                                           th:text="${year}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="seats-heading">
                            <button class="accordion-button collapsed text-light bg-dark" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#seatsAcc" aria-expanded="false"
                                    aria-controls="seatsAcc">
                                Seats
                            </button>
                        </h2>
                        <div id="seatsAcc"
                             th:class="${#lists.isEmpty(searchCarBasesForm.seats)} ? 'accordion-collapse collapse' : 'accordion-collapse collapse show'"
                             aria-labelledby="seats-heading">
                            <div class="accordion-body">
                                <div class="form-check" th:each="seat : ${seats}">
                                    <input class="form-check-input" type="checkbox" th:value="${seat}"
                                           th:id="'seats' + ${seat}" th:field="*{seats}" name="seats">
                                    <label class="form-check-label" th:for="'seats' + ${seat}"
                                           th:text="${seat}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-9 scroll-140">
                <div th:each="result : ${results}" id="car-list">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 th:text="${result.brand} + ' – ' + ${result.model}"></h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 d-flex">
                            <img th:src="${result.image}" alt="Picture" class="car-img"/>

                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"
                                    th:text="'Type: ' + ${result.carType.getName()} + ' (' + ${result.seats} + ' seats)'"></li>
                                <li class="list-group-item" th:text="'Production date: ' + ${result.year}"></li>
                                <li class="list-group-item"
                                    th:text="'Price per day: ' + ${#numbers.formatDecimal((result.priceDay), 1, 2, 'POINT')} + ' ' + ${placeholder_country.currency.code}"></li>
                            </ul>
                            <br>
                        </div>

                        <div class="col-md-2">
                            <div style="display: grid;grid-template-rows: repeat(1, 1fr);">
                                <div class="border border-dark rounded"
                                     style="text-align: center; margin-bottom: 10px;">
                                    <p style="margin-bottom: 0;" th:text="'Deposit:'"></p>
                                    <p style="margin-bottom: 0;"
                                       th:text="${#numbers.formatDecimal((result.depositValue), 1, 2, 'POINT')} + ' ' + ${placeholder_country.currency.code}"></p>
                                </div>
                                <a type="button" class="btn btn-dark" th:text="Inspect"
                                         th:href="'/mg-car/car-bases/' + ${result.getId()}"></a>
                            </div>
                        </div>
                    </div>
                </div>

            <!--Modal add car base-->
            <form th:method="POST" th:object="${register_form}" th:action="@{'/mg-car/car-bases/register'}" enctype="multipart/form-data">
                <div class="modal fade" id="registerModal" tabindex="-1" role="dialog"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Register new car base</h5>
                                <button type="button" class="close" data-bs-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Please fill all car base fields.</p>
                                <div class="input-group my-3">
                                    <input id="r_image" class="text-black bg-white form-control"
                                           th:type="file" th:field="*{image}" required/>
                                </div>
                                <div class="modal-row mt-2">
                                    <label style="justify-self: start;" for="r_pattern" class="form-label">Type: </label>
                                    <select id="r_pattern" class="form-select modal-input"
                                            th:field="*{type}" required>
                                        <div th:each="type:${all_car_types}">
                                            <option th:text="${type.name}"
                                                    th:value="${type}"
                                                    th:field="*{type}"></option>
                                        </div>
                                    </select>
                                </div>
                                <div class="modal-row mt-2">
                                    <label style="justify-self: start;" for="r_brand" class="form-label">Brand: </label>
                                    <input id="r_brand" class="text-black bg-white modal-input"
                                           th:placeholder="'Brand shortcut'"
                                           th:type="text" th:field="*{brand}"
                                           required/>
                                </div>
                                <div class="modal-row mt-2">
                                    <label style="justify-self: start;" for="r_model" class="form-label">Model: </label>
                                    <input id="r_model" class="text-black bg-white modal-input"
                                           th:placeholder="'Model full name'"
                                           th:type="text" th:field="*{model}"
                                           required/>
                                </div>
                                <div class="modal-row mt-2">
                                    <label style="justify-self: start;" for="r_year" class="form-label">Production date: </label>
                                    <input id="r_year" class="text-black bg-white modal-input"
                                           th:placeholder="'Provide year of production'"
                                           th:type="number" th:field="*{year}"
                                           required/>
                                </div>
                                <div class="modal-row mt-2">
                                    <label style="justify-self: start;" for="r_seats" class="form-label">Seats: </label>
                                    <input id="r_seats" class="text-black bg-white modal-input"
                                           th:placeholder="'Provide amount of seats'"
                                           th:type="number" th:field="*{seats}"
                                           required/>
                                </div>
                                <div class="modal-row mt-2">
                                    <label style="justify-self: start;" for="r_price" class="form-label" th:text="'Initial price [' + ${placeholder_country.currency.code} + ']:'"></label>
                                    <input id="r_price" class="text-black bg-white modal-input"
                                           th:placeholder="'Provide initial price per day'"
                                           th:type="number" th:field="*{price}"
                                           required/>
                                </div>
                                <div class="modal-row mt-2">
                                    <label style="justify-self: start;" for="r_deposit" class="form-label" th:text="'Initial deposit [' + ${placeholder_country.currency.code} + ']:'"></label>
                                    <input id="r_deposit" class="text-black bg-white modal-input"
                                           th:placeholder="'Provide initial deposit value'"
                                           th:type="number" th:field="*{deposit}"
                                           required/>
                                </div>
                                <div class="my-3 d-flex" style="justify-content: center; align-content: center;">
                                    <span class="border w-100"></span>
                                </div>
                                <div class="modal-row mt-2">
                                    <label style="justify-self: start;" for="r_car_confirmation"
                                           class="text-md">Password: </label>
                                    <input id="r_car_confirmation" class="text-black bg-white modal-input"
                                           th:placeholder="'Password confirmation'"
                                           th:type="password" th:field="*{currentPassword}"
                                           autocomplete="new-password"
                                           required/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-dark">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div th:insert="fragments/bottom::message-handler"></div>
    </div>
    <div th:include="fragments/bottom::bottom-footer"></div>
</div>
<div th:include="fragments/bottom::common-scripts"></div>
</body>
</html>