<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Rent-a-Car</title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>

<body>
<div id="container">

    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div class="row">
        <form th:action="@{/mg-emp/search}" th:object="${searchEmployeesForm}" th:method="POST"
              class="form-inline">

            <div class="row mb-2" style="margin-top: 5%">

                <div class="row" style="flex-wrap: nowrap; padding-right: 0;">
                    <div class="col-sm-2 c-input" style="justify-content: flex-end;" th:text="'Department:'"></div>
                    <div class="col-sm-4 c-input">
                        <select type="text" th:field="*{department}" class="form-control">
                            <div th:each="department:${departments}">
                                <option th:text="${department.country.getCode()} + ' — ' + ${department.city} + ', ' + ${department.street} + ' ' + ${department.building}"
                                        th:value="${department.getId()}"></option>
                            </div>
                        </select>
                    </div>

                    <div class="between-fields"></div>
                    <div class="col-sm-3 px-0 d-flex" style="justify-content: end;">
                        <button type="button"
                                data-bs-toggle="modal" data-bs-target="#registerModal"
                                class="btn btn-dark bg-dark d-flex" style="align-items: center;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 viewBox="0 0 16 16" class="bi bi-plus-square">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="row"
                     style="width: 100%; margin-top: 1%; flex-shrink: 1; display:inline-flex; flex-wrap: nowrap; padding-right: 0;">
                    <div class="col-sm-2 c-input">
                        <input type="text" class="form-control" placeholder="Name"
                               th:field="*{name}">
                    </div>
                    <div class="col-sm-4 c-input">
                        <input type="text" class="form-control" placeholder="Surname"
                               th:field="*{surname}">
                    </div>
                    <div class="col-sm-3 c-input">
                        <select type="text" th:field="*{role}" class="form-control">
                            <option th:value="null" th:text="'Any role'"></option>
                            <div th:each="role:${roles}">
                                <option th:text="'Role: ' + ${role.name().substring(5)}"
                                        th:value="${role.name()}"></option>
                            </div>
                        </select>
                    </div>
                    <div class="col-sm-3 c-input" style="width: fit-content;">
                        <input id="is_expired1" name="is_expired" type="radio" value="false" class="btn-check"
                               th:field="*{expired}" checked>
                        <label for="is_expired1" class="btn btn-outline-dark btn-sm">Active</label>
                        <input id="is_expired2" name="is_expired" type="radio" value="true" class="btn-check"
                               th:field="*{expired}">
                        <label for="is_expired2" class="btn btn-outline-dark btn-sm"
                               style="margin-left: 0.5em;">Expired</label>
                    </div>
                    <div class="col c-input px-0" style="justify-content: end; white-space: nowrap;">
                        <button class="btn btn-dark bg-dark"
                                type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                            </svg>
                        </button>
                    </div>
                </div>

            </div>
            <div th:insert="fragments/bottom::form-error-handler"></div>
        </form>

        <br>
    </div>

    <div class="row">
        <div class="col-sm-12 scroll-70">
            <table class="table table-borderless table-hover table-fixed"
                   style="text-align: center; vertical-align: middle;">
                <thead class="table-dark">
                <tr>
                    <th scope="row">Name</th>
                    <th scope="row">Role</th>
                    <th scope="row">Expiry date</th>
                    <th scope="row">Department</th>
                    <th scope="row"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:if="${#lists.isEmpty(e_results)}">
                    <td th:text="'—'"></td>
                    <td th:text="'—'"></td>
                    <td th:text="'—'"></td>
                    <td th:text="'—'"></td>
                    <td></td>
                </th:block>
                <tr th:each="result: ${e_results}">
                    <td>
                        <div class="overflow-cell-hs"
                             th:utext="${result.getName()} + '<br>' + ${result.getSurname()}"></div>
                    </td>
                    <td>
                        <div class="overflow-cell-hs"
                             th:text="${result.role.name().substring(5)}"></div>
                    </td>
                    <td>
                        <div class="overflow-cell-hs" th:text="${result.terminationDate}"></div>
                    </td>
                    <td>
                        <div class="overflow-cell-hs"
                             th:utext="${result.departments.size() > 1} ? 'Many' : ${result.departments[0].city} + ', <br>' + ${result.departments[0].street} + ' ' + ${result.departments[0].building}"></div>
                    </td>
                    <td style="position: relative;">
                        <a type="button" class="btn btn-dark list-button" th:text="Inspect"
                           th:href="'/mg-emp/' + ${result.id}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--Register modal-->
        <form th:method="POST" th:object="${register_form}"
              th:action="@{'/mg-emp/register'}">
            <div class="modal fade" id="registerModal" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Register</h5>
                            <button type="button" class="close" data-bs-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-row mt-2">
                                <label style="justify-self: start;" for="r_name"
                                       class="text-md">Name: </label>
                                <input id="r_name" class="text-black bg-white modal-input"
                                       placeholder="Employee's name"
                                       th:type="text" th:field="*{name}"
                                       required/>
                            </div>

                            <div class="modal-row mt-2">
                                <label style="justify-self: start;" for="r_surname"
                                       class="text-md">Surname: </label>
                                <input id="r_surname" class="text-black bg-white modal-input"
                                       placeholder="Employee's surname"
                                       th:type="text" th:field="*{surname}"
                                       required/>
                            </div>

                            <div class="modal-row mt-2">
                                <label style="justify-self: start;" for="r_pid"
                                       class="form-label">P-ID: </label>
                                <input id="r_pid" class="text-black bg-white modal-input"
                                       placeholder="Employee's personal ID"
                                       th:type="text" th:field="*{personalId}"
                                       required/>
                            </div>

                            <div class="modal-row mt-2">
                                <label style="justify-self: start;" for="r_contact"
                                       class="form-label">Contact: </label>
                                <input id="r_contact" class="text-black bg-white modal-input"
                                       placeholder="Employee's contact number"
                                       th:type="text" th:field="*{contactNumber}"
                                       required/>
                            </div>

                            <div class="my-3 d-flex" style="justify-content: center; align-content: center;">
                                <span class="border w-100"></span>
                            </div>

                            <div class="modal-row mt-2">
                                <label style="justify-self: start;" for="r_username"
                                       class="form-label">E-mail: </label>
                                <input id="r_username" class="text-black bg-white modal-input"
                                       placeholder="Employee e-mail"
                                       th:type="text" th:field="*{username}"
                                       required/>
                            </div>

                            <div class="modal-row mt-2">
                                <label style="justify-self: start;" for="r_password"
                                       class="text-md">Password: </label>
                                <input id="r_password" class="text-black bg-white modal-input"
                                       placeholder="Employee password"
                                       th:type="password" th:field="*{employeePassword}"
                                       autocomplete="new-password"
                                       required/>
                            </div>

                            <div class="modal-row mt-2">
                                <label style="justify-self: start;" for="r_password_re"
                                       class="text-md">Repeat password: </label>
                                <input id="r_password_re" class="text-black bg-white modal-input"
                                       placeholder="Employee password"
                                       th:type="password" th:field="*{employeePasswordRe}"
                                       autocomplete="new-password"
                                       required/>
                            </div>

                            <div class="modal-row mt-2">
                                <label style="justify-self: start;" for="r_department"
                                       class="text-md">Department: </label>
                                <select id="r_department" type="text" th:field="*{department}" class="form-control modal-input">
                                    <div th:each="department:${departments}">
                                        <option th:text="${department.country.getCode()} + ' — ' + ${department.city} + ', ' + ${department.street} + ' ' + ${department.building}"
                                                th:value="${department.getId()}"></option>
                                    </div>
                                </select>
                            </div>

                            <div class="modal-row mt-2">
                                <label style="justify-self: start;" for="r_date_valid"
                                       class="text-md">Valid until: </label>
                                <input id="r_date_valid" class="text-black bg-white modal-input"
                                       style="width:revert;display:revert;"
                                       th:type="date" th:field="*{validDate}" required/>
                            </div>

                            <div class="my-3 d-flex" style="justify-content: center; align-content: center;">
                                <span class="border w-100"></span>
                            </div>

                            <div class="modal-row mt-2">
                                <label style="justify-self: start;" for="r_confirmation"
                                       class="text-md">Confirm: </label>
                                <input id="r_confirmation" class="text-black bg-white modal-input"
                                       placeholder="Supervisor password"
                                       th:type="password" th:field="*{currentPassword}"
                                       autocomplete="new-password"
                                       required/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn btn-dark">Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div th:include="fragments/bottom::bottom-footer"></div>
    <div th:insert="fragments/bottom::message-handler"></div>
</div>
<div th:include="fragments/bottom::common-scripts"></div>
</body>
</html>