<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Rent-a-Car</title>

    <link rel="stylesheet" href="/css/leaflet.css"/>
    <script src="/js/leaflet.js"></script>
    <script src="/js/leaflet-map.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>

<body>
<div id="container">
    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div class="main">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-3 p-0 mt-3 mb-5">
                    <table class="table table-borderless table-fixed" style="text-align:start;">
                        <tbody>
                        <tr class="table-dark">
                            <td>Image:</td>
                        </tr>
                        <tr>
                            <td class="p-0">
                                <div class="overflow-cell-hs">
                                    <img th:src="${car.jpgLink}" alt="Picture"
                                         style="object-fit: contain; max-width:100%; height:auto;"/>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-dark">
                            <td>Model:</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="overflow-cell-hs"
                                     th:utext="${car.brand} + ' ' + ${car.model}">
                                </div>
                            </td>
                        </tr>
                        <tr class="table-dark">
                            <td>Type:</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="overflow-cell-hs"
                                     th:utext="${car.carType.name} + ' – ' + ${car.seats} + ' seats'">
                                </div>
                            </td>
                        </tr>
                        <tr class="table-dark">
                            <td>Plate:</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="overflow-cell-hs"
                                     th:text="${car.plate}"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-7 p-0 mt-3 mb-5">
                    <div id="map" style="height: 90%; width:90%; margin:auto;"></div>
                </div>
                <div class="col-md-2 p-0 mt-3 mb-5">
                    <table class="table table-borderless table-fixed" style="text-align:start;">
                        <tbody>
                        <tr class="table-dark">
                            <td>Status:</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="overflow-cell-hs"
                                     th:utext="${car.carStatus.name().substring(7)}">
                                </div>
                            </td>
                        </tr>
                        <tr class="table-dark">
                            <td>Department:</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="overflow-cell-hs"
                                     th:utext="${car.department.country.countryName} +
                                     '<br>' + ${car.department.city} + ' ' + ${car.department.postcode} +
                                     '<br>' + ${car.department.address}"></div>
                            </td>
                        </tr>
                        <tr class="table-dark">
                            <td>Mileage:</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="overflow-cell-hs"
                                     th:utext="${car.mileage} + ' [km]'">
                                </div>
                            </td>
                        </tr>
                        <tr class="table-dark">
                            <td>Pricing:</td>
                        </tr>
                        <tr>
                            <td>
                                <table class="table table-borderless table-fixed">
                                    <tr>
                                        <td style="padding-left: 0;">
                                            <div class="overflow-cell-hs" style="width:fit-content;"
                                                 th:text="'Price/Day: '">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="overflow-cell-hs" style="text-align:end;"
                                                 th:text="${car.priceDay}">
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td style="padding-left: 0;">
                                            <div class="overflow-cell-hs" style="width:fit-content;"
                                                 th:text="'Deposit: '">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="overflow-cell-hs" style="text-align:end;"
                                                 th:text="${car.depositValue}">
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" style="margin-top:3%;">
                <div class="col-md-3 px-1">
                    <div class="d-flex flex-column">
                        <a class="btn btn-dark bg-dark mt-2 def-button-text"
                           type="button" href="/mg-car">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                            </svg>
                            Back
                        </a>
                    </div>
                </div>
                <div class="col-md-3 px-1"></div>
                <div class="col-md-3 px-1">
                    <button class="btn btn-dark bg-dark mt-2 def-button-text w-100" type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#statusModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        </svg>
                        Set Status
                    </button>
                    <button class="btn btn-dark bg-dark mt-2 def-button-text w-100" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        </svg>
                        Schedule
                    </button>

                    <!--Modal status-->
                    <form th:method="POST" th:object="${status_form}" th:action="@{'/mg-car/' + ${carId} + '/status'}">
                        <div class="modal fade" id="statusModal" tabindex="-1" role="dialog"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Status</h5>
                                        <button type="button" class="close" data-bs-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Please confirm <u>status change</u> with password.</p>
                                        <div style="grid-template-columns: auto auto; display: grid;">
                                            <label style="justify-self: start;" for="s_status" class="form-label">Status: </label>
                                            <select id="s_status" class="form-select modal-input"
                                                    th:field="*{status}" required>
                                                <div th:each="status:${statuses}">
                                                    <option th:text="${status.name().substring(7)}"
                                                            th:value="${status}"
                                                            th:field="*{status}"></option>
                                                </div>
                                            </select>
                                        </div>
                                        <div style="grid-template-columns: auto auto; display: grid; margin-top: 2%;">
                                            <label style="justify-self: start;" for="s_status_confirmation"
                                                   class="text-md">Password: </label>
                                            <input id="s_status_confirmation" class="text-black bg-white modal-input"
                                                   th:placeholder="'Confirm with password'"
                                                   th:type="password" th:field="*{currentPassword}"
                                                   autocomplete="new-password"
                                                   required/>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="submit" class="btn btn-dark">Confirm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 px-1">
                    <button class="btn btn-dark bg-dark mt-2 def-button-text w-100" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        </svg>
                        Update Details
                    </button>
                    <button class="btn btn-dark bg-dark mt-2 def-button-text w-100" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        </svg>
                        Edit Model
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div th:include="fragments/bottom::bottom-footer"></div>
    <div th:insert="fragments/bottom::message-handler"></div>
</div>
<div th:include="fragments/bottom::common-scripts"></div>
<script th:inline="javascript">
        var latitude = [[${latitude}]];
        var longitude = [[${longitude}]];

        initializeMap([latitude, longitude], 13);

</script>
</body>
</html>