<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Rent-a-Car</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>

<body>
<div id="container">
    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div class="main">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-3 p-0 mt-3 mb-5">
                    <table class="table table-borderless table-fixed" style="text-align:start;">
                        <tbody>
                        <tr class="table-dark">
                            <td>Image:</td>
                        </tr>
                        <tr>
                            <td class="p-0">
                                <div class="overflow-cell-hs">
                                    <img th:src="${result.image}" alt="Picture"
                                         class="car-img"/>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-dark">
                            <td>Registered:</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="overflow-cell-hs"
                                     th:utext="${resultSize}">
                                </div>
                            </td>
                        </tr>
                        <tr class="table-dark">
                            <td>Model:</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="overflow-cell-hs"
                                     th:utext="${result.brand} + ' ' + ${result.model} + ' (' + ${result.year} + ')'">
                                </div>
                            </td>
                        </tr>
                        <tr class="table-dark">
                            <td>Type:</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="overflow-cell-hs"
                                     th:utext="${result.carType.name} + ' – ' + ${result.seats} + ' seats'">
                                </div>
                            </td>
                        </tr>
                        <tr class="table-dark">
                            <td>Pricing:</td>
                        </tr>
                        <tr>
                            <td>
                                <table class="table table-borderless table-fixed">
                                    <tr>
                                        <td style="padding-left: 0;">
                                            <div class="overflow-cell-hs" style="width:fit-content;"
                                                 th:text="'Price/Day: '">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="overflow-cell-hs" style="text-align:end;"
                                                 th:text="${result.priceDay}">
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td style="padding-left: 0;">
                                            <div class="overflow-cell-hs" style="width:fit-content;"
                                                 th:text="'Deposit: '">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="overflow-cell-hs" style="text-align:end;"
                                                 th:text="${result.depositValue}">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-9 p-0 mt-3 mb-5">
                    <div style="margin-left:2%;">
                        <table class="table table-borderless"
                               style="text-align: center; vertical-align: middle;">
                            <thead class="table-dark">
                            <tr>
                                <th scope="row" class="button-cell">Option</th>
                                <th scope="row" class="short-description-cell">Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="button-cell">
                                    <button type="button" class="btn btn-dark bg-dark mt-1 list-button w-100"
                                            data-bs-toggle="modal"
                                            data-bs-target="#registerModal">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-circle cb-svg" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        </svg>
                                        <div class="list-button-text">Add</div>
                                    </button>
                                </td>
                                <td class="short-description-cell">Adds car under this car base</td>
                            </tr>
                            <tr>
                                <td class="button-cell">
                                    <button type="button" class="btn btn-dark bg-dark mt-1 list-button w-100"
                                            data-bs-toggle="modal"
                                            data-bs-target="#updatePricesModal">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-circle cb-svg" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        </svg>
                                        <div class="list-button-text">Prices</div>
                                    </button>
                                </td>
                                <td class="short-description-cell">Update with new price per day and deposit</td>
                            </tr>
                            <tr>
                                <td class="button-cell">
                                    <button type="button" class="btn btn-dark bg-dark mt-1 list-button w-100"
                                            data-bs-toggle="modal"
                                            data-bs-target="#updateImageModal">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-circle cb-svg" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        </svg>
                                        <div class="list-button-text">Image</div>
                                    </button>
                                </td>
                                <td class="short-description-cell">Update with new image</td>
                            </tr>
                            <tr>
                                <td class="button-cell" data-toggle="tooltip" data-placement="top"
                                    th:title="${(resultSize <= 0) ? 'Requires at least one car under this car base' : ''}">
                                    <button type="button" class="btn btn-dark bg-dark mt-1 list-button w-100"
                                            data-bs-toggle="modal"
                                            data-bs-target="#splitModal"
                                            th:disabled="${resultSize <= 0}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-circle cb-svg" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        </svg>
                                        <div class="list-button-text">Split</div>
                                    </button>
                                </td>
                                <td class="short-description-cell">Split cars to another pattern</td>
                            </tr>
                            <tr>
                                <td class="button-cell" data-toggle="tooltip" data-placement="top"
                                    th:title="${(resultSize > 0) ? 'Requires no cars under this car base' : ''}">
                                    <button type="button" class="btn btn-dark bg-dark mt-1 list-button w-100"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal"
                                            th:disabled="${resultSize > 0}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-circle cb-svg" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        </svg>
                                        <div class="list-button-text">Delete</div>
                                    </button>
                                </td>
                                <td class="short-description-cell">Delete this car base</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:3%;">
                <div class="col-md-3 px-1">
                    <div class="d-flex flex-column">
                        <a class="btn btn-dark bg-dark mt-2 def-button-text"
                           type="button" href="/mg-car/car-bases">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                            </svg>
                            Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal add car-->
    <form th:method="POST" th:object="${register_form}"
          th:action="@{'/mg-car/car-bases/' + ${carBaseId} + '/register-car'}">
        <input th:value="${result.id}" th:field="*{pattern}" hidden="hidden" required>
        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Register new car</h5>
                        <button type="button" class="close" data-bs-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Please fill car information fields.</p>
                        <div class="modal-row mt-2">
                            <label style="justify-self: start;" for="r_department"
                                   class="form-label">Department: </label>
                            <select id="r_department" class="form-select modal-input"
                                    th:field="*{department}" required>
                                <div th:each="department:${departments}">
                                    <option th:text="${department.city} + ' - ' + ${department.address}"
                                            th:value="${department.id}"
                                            th:field="*{department}"></option>
                                </div>
                            </select>
                        </div>
                        <div class="modal-row mt-2">
                            <label style="justify-self: start;" for="r_plate" class="form-label">Plate: </label>
                            <input id="r_plate" class="text-black bg-white modal-input"
                                   th:placeholder="'Registered car plates'"
                                   th:type="text" th:field="*{plate}"
                                   required/>
                        </div>
                        <div class="modal-row mt-2">
                            <label style="justify-self: start;" for="r_mileage" class="form-label">Mileage: </label>
                            <input id="r_mileage" class="text-black bg-white modal-input"
                                   th:placeholder="'Registered car mileage'"
                                   th:type="number" th:field="*{mileage}"
                                   required/>
                        </div>
                        <div class="my-3 d-flex" style="justify-content: center; align-content: center;">
                            <span class="border w-100"></span>
                        </div>
                        <div class="modal-row mt-2">
                            <label style="justify-self: start;" for="r_car_confirmation"
                                   class="text-md">Password: </label>
                            <input id="r_car_confirmation" class="text-black bg-white modal-input"
                                   th:placeholder="'Password confirmation'"
                                   th:type="password" th:field="*{currentPassword}"
                                   autocomplete="new-password"
                                   required/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-dark">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!--Modal update prices-->
    <form th:method="POST" th:object="${update_price_form}"
          th:action="@{'/mg-car/car-bases/' + ${carBaseId} + '/update-price'}">
        <div class="modal fade" id="updatePricesModal" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update prices</h5>
                        <button type="button" class="close" data-bs-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Change and confirm <u>car base prices</u> with password.</p>
                        <div class="modal-row mt-2">
                            <label style="justify-self: start;" for="r_price" class="form-label">Price/Day: </label>
                            <input id="r_price" class="text-black bg-white modal-input"
                                   th:placeholder="'Provide initial price per day'"
                                   th:type="number" th:field="*{price}"
                                   required/>
                        </div>
                        <div class="modal-row mt-2">
                            <label style="justify-self: start;" for="r_deposit" class="form-label">Deposit: </label>
                            <input id="r_deposit" class="text-black bg-white modal-input"
                                   th:placeholder="'Provide initial deposit value'"
                                   th:type="number" th:field="*{deposit}"
                                   required/>
                        </div>
                        <div class="modal-row mt-2">
                            <label style="justify-self: start;" for="cb_update_prices_confirmation"
                                   class="text-md">Password: </label>
                            <input id="cb_update_prices_confirmation" class="text-black bg-white modal-input"
                                   th:placeholder="'Confirm with password'"
                                   th:type="password" th:field="*{currentPassword}"
                                   autocomplete="new-password"
                                   required/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-dark">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!--Modal update image-->
    <form th:method="POST" th:object="${update_image_form}"
          th:action="@{'/mg-car/car-bases/' + ${carBaseId} + '/update-image'}" enctype="multipart/form-data">
        <div class="modal fade" id="updateImageModal" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update image file</h5>
                        <button type="button" class="close" data-bs-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Please upload and confirm <u>image file</u> with password.</p>
                        <div class="input-group my-3">
                            <input id="cb_update_image" class="text-black bg-white form-control"
                                   th:type="file" th:field="*{image}" required/>
                        </div>
                        <div class="modal-row mt-2">
                            <label style="justify-self: start;" for="cb_update_image_confirmation"
                                   class="text-md">Password: </label>
                            <input id="cb_update_image_confirmation" class="text-black bg-white modal-input"
                                   th:placeholder="'Confirm with password'"
                                   th:type="password" th:field="*{currentPassword}"
                                   autocomplete="new-password"
                                   required/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-dark">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!--Modal split-->
    <form th:method="POST" th:object="${split_form}"
          th:action="@{'/mg-car/car-bases/' + ${carBaseId} + '/split'}">
        <div class="modal fade" id="splitModal" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Split</h5>
                        <button type="button" class="close" data-bs-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mt-2 form-floating">
                            <select id="s_pattern" class="form-select"
                                    th:field="*{pattern}" required>
                                <option value="" selected>Open this select menu</option>
                                <div th:each="pattern:${patterns}">
                                    <option th:text="${pattern.brand} + ' - ' + ${pattern.model} + ' (' + ${pattern.year} + ') - ' + ${pattern.seats} + ' seats - [pd: ' + ${pattern.priceDay} + ', d: ' + ${pattern.depositValue} + ']'"
                                            th:value="${pattern.id}"
                                            th:field="*{pattern}"></option>
                                </div>
                            </select>
                            <label for="s_pattern" class="form-label">Target pattern</label>
                        </div>
                        <h5 th:text="'Cars'" class="mt-2" style="text-align:center;"></h5>
                        <div class="d-grid scroll-35">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <td>Plates</td>
                                    <td>Status</td>
                                    <td>Department</td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody th:if="${#lists.isEmpty(carList)}">
                                <tr>
                                    <td>—</td>
                                    <td>—</td>
                                    <td>—</td>
                                    <td></td>
                                </tr>
                                </tbody>

                                <tbody th:if="${!#lists.isEmpty(carList)}">
                                <tr th:each="car:${carList}">
                                    <td><label class="form-check-label" th:for="'car' + ${car.id}"
                                               th:text="${car.plate}"></label></td>
                                    <td><label class="form-check-label" th:for="'car' + ${car.id}"
                                               th:text="${car.carStatus.name().substring(7)}"></label></td>
                                    <td><label class="form-check-label" th:for="'car' + ${car.id}"
                                               th:text="${car.department.city}"></label></td>
                                    <td>
                                        <input class="form-check-input" th:id="'car' + ${car.id}"
                                               th:value="${car.id}"
                                               th:field="*{cars}" type="checkbox">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="my-3 d-flex" style="justify-content: center; align-content: center;">
                            <span class="border w-100"></span>
                        </div>
                        <div class="modal-row mt-2">
                            <label style="justify-self: start;" for="s_cars_confirmation"
                                   class="text-md">Password: </label>
                            <input id="s_cars_confirmation" class="text-black bg-white modal-input"
                                   th:placeholder="'Password confirmation'"
                                   th:type="password" th:field="*{currentPassword}"
                                   autocomplete="new-password"
                                   required/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-dark">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!--Modal delete-->
    <form th:method="POST" th:object="${confirmation_form}"
          th:action="@{'/mg-car/car-bases/' + ${carBaseId} + '/delete'}">
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete</h5>
                        <button type="button" class="close" data-bs-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Please confirm <u>car base deletion</u> with password.</p>
                        <div class="modal-row mt-2">
                            <label style="justify-self: start;" for="cb_delete_confirmation"
                                   class="text-md">Password: </label>
                            <input id="cb_delete_confirmation" class="text-black bg-white modal-input"
                                   th:placeholder="'Confirm with password'"
                                   th:type="password" th:field="*{currentPassword}"
                                   autocomplete="new-password"
                                   required/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div th:include="fragments/bottom::bottom-footer"></div>
    <div th:insert="fragments/bottom::message-handler"></div>
</div>
<div th:include="fragments/bottom::common-scripts"></div>
</body>
</html>