<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Rent-a-Car</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>

<body>
<div id="container">
    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div class="main">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-2 p-0 mt-3 mb-5">
                    <table class="table table-borderless table-fixed" style="text-align:start;">
                        <tbody>
                        <tr class="table-dark">
                            <td>Overview</td>
                        </tr>
                        <tr>
                            <td class="px-0">
                                <a href="/overview/statistics" class="btn btn-dark w-100 def-button-text mb-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                                        <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0z"/>
                                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
                                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
                                    </svg>
                                    Statistics
                                </a>
                            </td>
                        </tr>
                        <tr class="table-dark">
                            <td>Department:</td>
                        </tr>
                        <tr>
                            <td class="px-0">
                                <button type="button" class="btn btn-dark w-100 def-button-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
                                        <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
                                    </svg>
                                    Refresh
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-0">
                                <select class="form-select">
                                    <option th:each="department: ${departments}"
                                            th:value="${department.id}"
                                            th:text="${department.city} + ', ' + ${department.street} + ' ' + ${department.building}"></option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-10 mt-3 mb-5" style="padding-left:1em;">
                    <div class="row bg-dark">
                        <div class="py-2" style="text-align:start;color:#fff;" th:text="'Department - ' + ${department.city} + ', ' + ${department.street} + ' ' + ${department.building}"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 p-1 mt-3 mb-5">
                            <h5 class="px-1" style="text-align: start;">Arrivals:</h5>
                            <div class="scroll-35 border">
                                List of planned arrivals
                            </div>
                        </div>
                        <div class="col-md-6 p-1 mt-3 mb-5">
                            <h5 class="px-1" style="text-align: start;">Departures:</h5>
                            <div class="scroll-35 border">
                                List of planned departures
                            </div>
                        </div>
                    </div>
                    <div class="row bg-dark">
                        <div class="py-2" style="text-align:start;color:#fff;" th:text="'Info: '"></div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:3%;">
                <div class="col-md-3 px-1"></div>
                <div class="col-md-3 px-1"></div>
                <div class="col-md-3 px-1"></div>
                <div class="col-md-3 px-1"></div>
            </div>
        </div>
    </div>

    <div th:include="fragments/bottom::bottom-footer"></div>
    <div th:insert="fragments/bottom::message-handler"></div>
</div>
<div th:include="fragments/bottom::common-scripts"></div>
</body>
</html>