<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Rent-a-Car</title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>

<body>
<div id="container">
    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div class="row">
        <th:block th:if="${customer} != null">
            <div class="col-sm-3">
                <table class="table table-borderless table-fixed">
                    <thead class="table-dark">
                    <tr class="table-dark">
                        <th scope="row">Customer data:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-dark">
                        <td>Name:</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="overflow-cell-hs"
                                 th:text="${customer.getName()} + ' ' + ${customer.getSurname()}"></div>
                        </td>
                    </tr>

                    <tr class="table-dark">
                        <td>Status:</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="overflow-cell-hs"
                                 th:text="${customer.getStatus().name().substring(7)}"></div>
                        </td>
                    </tr>

                    <tr class="table-dark">
                        <td>Contact:</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="overflow-cell-hs"
                                 th:text="${customer.getContactNumber()}"></div>
                        </td>
                    </tr>
                    <tr class="table-dark">
                        <td>Verification:</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="overflow-cell-hs"
                                 th:utext="${verification.getCountry().getCountryName()} + '<br>' + 'P-ID: ' + ${verification.getPersonalId()} + '<br>' + 'D-ID: ' + ${verification.getDriverId()}">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </th:block>

        <th:block th:if="${customer} != null">
            <div class="col-sm-9">
                <table class="table table-borderless"
                       style="text-align: center; vertical-align: middle;">
                    <thead class="table-dark">
                    <tr>
                        <th scope="row" class="button-cell">Option</th>
                        <th scope="row" class="short-description-cell">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <form class="change_action_form" th:action="@{submit}" th:method="POST">
                        <input type="hidden" th:if="${customer != null}" th:name="customer"
                               th:value="${customer.getId()}">
                        <tr>
                            <td class="button-cell">
                                <button type="submit" class="btn btn-dark bg-dark mt-1 list-button w-100"
                                        name="department" th:value="${department}"
                                        onclick="setFormAction('/mg-cus/mg-res', 0)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-check" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                                    </svg>
                                    Reservations
                                </button>
                            </td>
                            <td class="short-description-cell" th:text="'View list of customer reservations'"></td>
                        </tr>
                    </form>

                    <th:block th:if="${!is_deleted}">
                        <th:block th:if="${!is_verified}">
                            <form th:action="@{/mg-cus/verify}" th:method="POST">
                                <input type="hidden" th:name="department" th:value="${department}">
                                <tr>
                                    <td class="button-cell">
                                        <button class="btn btn-dark bg-dark mt-1 list-button w-100"
                                                type="submit" name="customer" th:value="${customer.getId()}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                                                <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
                                            </svg>
                                            Verify
                                        </button>
                                    </td>
                                    <td class="short-description-cell" th:text="'Register verification details'"></td>
                                </tr>
                            </form>
                        </th:block>
                        <th:block th:if="${is_verified}">
                            <form th:action="@{/mg-cus/unverify}" th:object="${unverifyConfirmationForm}"
                                  th:method="POST">
                                <input type="hidden" th:name="department" th:value="${department}">
                                <input type="hidden" th:name="customer" th:value="${customer.getId()}">
                                <tr>
                                    <td class="button-cell">
                                        <!--Trigger for unverify modal-->
                                        <button type="button" class="btn btn-dark bg-dark mt-1 list-button w-100"
                                                data-bs-toggle="modal"
                                                data-bs-target="#unverifyModal">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-person-dash" viewBox="0 0 16 16">
                                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7ZM11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1Zm0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                                                <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
                                            </svg>
                                            Unverify
                                        </button>

                                        <!--Modal unverify-->
                                        <div class="modal fade" id="unverifyModal" tabindex="-1" role="dialog"
                                             aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Unverify</h5>
                                                        <button type="button" class="close" data-bs-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Confirm removal of verification with a password.</p>
                                                        <input id="confirmPassword" class="text-black bg-white"
                                                               th:placeholder="'Confirm with password'"
                                                               th:type="password" th:field="*{currentPassword}"
                                                               autocomplete="new-password"
                                                               required/>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-dark"
                                                                data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="submit" class="btn btn-dark">Confirm</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="short-description-cell"
                                        th:text="'Remove verification details (P-ID, D-ID)'"></td>
                                </tr>
                            </form>
                        </th:block>
                    </th:block>

                    <th:block th:if="${!is_deleted}">
                        <form th:action="@{/mg-cus/delete}" th:object="${deleteConfirmationForm}" th:method="POST">
                            <input type="hidden" th:name="department" th:value="${department}">
                            <input type="hidden" th:name="customer" th:value="${customer.getId()}">
                            <tr>
                                <td class="button-cell">
                                    <button type="button" class="btn btn-dark bg-dark mt-1 list-button w-100"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-person-slash" viewBox="0 0 16 16">
                                            <path d="M13.879 10.414a2.501 2.501 0 0 0-3.465 3.465l3.465-3.465Zm.707.707-3.465 3.465a2.501 2.501 0 0 0 3.465-3.465Zm-4.56-1.096a3.5 3.5 0 1 1 4.949 4.95 3.5 3.5 0 0 1-4.95-4.95ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm.256 7a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
                                        </svg>
                                        Delete
                                    </button>

                                    <!--Modal delete-->
                                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Delete data</h5>
                                                    <button type="button" class="close" data-bs-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Confirm removal of data with a password.</p>
                                                    <input name="confirmPassword" class="text-black bg-white"
                                                           th:placeholder="'Confirm with password'"
                                                           th:type="password" th:field="*{currentPassword}"
                                                           autocomplete="new-password"
                                                           required/>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="submit" class="btn btn-dark">Confirm</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="short-description-cell"
                                    th:text="'Permanently removes customer details'"></td>
                            </tr>
                        </form>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </th:block>
        <div th:insert="fragments/bottom::message-handler"></div>
    </div>
    <div th:include="fragments/bottom::bottom-footer"></div>
</div>
<div th:include="fragments/bottom::common-scripts"></div>
</body>
</html>