<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Rent-a-Car</title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>

<body>
<div id="container">
    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div class="row">
        <th:block th:if="${department} != null">
            <div class="col-sm-3">
                <a class="btn btn-dark bg-dark mb-2 w-100 def-button-text"
                   type="button" th:href="'/mg-dpt'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                    </svg>
                    Search
                </a>

                <table class="table table-borderless table-fixed">
                    <thead class="table-dark">
                    <tr class="table-dark">
                        <th scope="row">Department data:</th>
                    </tr>
                    </thead>
                    <tbody>


                    <tr class="table-dark">
                        <td>Country:</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="overflow-cell-hs"
                                 th:text="${department.country.getCountryName()}">
                            </div>
                        </td>
                    </tr>

                    <tr class="table-dark">
                        <td>Address:</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="overflow-cell-hs"
                                 th:text="${department.address}">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="overflow-cell-hs"
                                 th:text="${department.postcode} + ' ' + ${department.city}"></div>
                        </td>
                    </tr>

                    <tr class="table-dark">
                        <td>Contact:</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="overflow-cell-hs"
                                 th:text="${department.email}"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="overflow-cell-hs"
                                 th:text="${department.contact}"></div>
                        </td>
                    </tr>

                    <tr class="table-dark">
                        <td>Active:</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="overflow-cell-hs"
                                 th:text="${department.isActive} ? 'Yes' : 'No'"></div>
                        </td>
                    </tr>

                    <tr class="table-dark">
                        <td>HQ:</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="overflow-cell-hs"
                                 th:text="${department.hq} ? 'Yes' : 'No'"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </th:block>

        <th:block th:if="${department} != null">
            <div class="col-sm-9">
                <table class="table table-borderless"
                       style="text-align: center; vertical-align: middle;">
                    <thead class="table-dark">
                    <tr>
                        <th scope="row" class="button-cell">Option</th>
                        <th scope="row" class="short-description-cell">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="button-cell">
                            <button type="button" class="btn btn-dark bg-dark mt-1 list-button w-100"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                     fill="currentColor"
                                     class="bi bi-circle cb-svg" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                </svg>
                                <div class="list-button-text">Details</div>
                            </button>
                        </td>
                        <td class="short-description-cell">Allows to edit department details.</td>
                    </tr>

                    <tr>
                        <td class="button-cell">
                            <button type="button" class="btn btn-dark bg-dark mt-1 list-button w-100"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                     fill="currentColor"
                                     class="bi bi-circle cb-svg" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                </svg>
                                <div class="list-button-text">Contacts</div>
                            </button>
                        </td>
                        <td class="short-description-cell">Allows to edit department contacts.</td>
                    </tr>

                    <tr>
                        <td class="button-cell">
                            <button type="button" class="btn btn-dark bg-dark mt-1 list-button w-100"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                     fill="currentColor"
                                     class="bi bi-circle cb-svg" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                </svg>
                                <div th:if="${!department.isActive}" class="list-button-text">Activity ON</div>
                                <div th:if="${department.isActive}" class="list-button-text">Activity OFF</div>
                            </button>
                        </td>
                        <td th:if="${!department.isActive}" class="short-description-cell">Set department as active.</td>
                        <td th:if="${department.isActive}" class="short-description-cell">Set department as inactive.</td>
                    </tr>

                    <tr>
                        <td class="button-cell">
                            <button type="button" class="btn btn-dark bg-dark mt-1 list-button w-100"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                     fill="currentColor"
                                     class="bi bi-circle cb-svg" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                </svg>
                                <div th:if="${!department.hq}" class="list-button-text">HQ ON</div>
                                <div th:if="${department.hq}" class="list-button-text">HQ OFF</div>
                            </button>
                        </td>
                        <td th:if="${!department.hq}" class="short-description-cell">Set department as HQ.</td>
                        <td th:if="${department.hq}" class="short-description-cell">Set department as common.</td>
                    </tr>

                    <tr th:if="${!hasPresence}">
                        <td class="button-cell">
                            <button type="button" class="btn btn-dark bg-dark mt-1 list-button w-100"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                     fill="currentColor"
                                     class="bi bi-circle cb-svg" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                </svg>
                                <div class="list-button-text">Delete</div>
                            </button>
                        </td>
                        <td class="short-description-cell">Allows to prematurely remove department.</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </th:block>
        <div th:insert="fragments/bottom::message-handler"></div>
    </div>
    <div th:include="fragments/bottom::bottom-footer"></div>
</div>
<div th:include="fragments/bottom::common-scripts"></div>
</body>
</html>