<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Rent-a-Car</title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>

<body>
<div id="container">
    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div class="row">
        <th:block th:if="${employee} != null">
            <div class="col-sm-3">
                <table class="table table-borderless table-fixed">
                    <thead class="table-dark">
                    <tr class="table-dark">
                        <th scope="row">Employee data:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-dark">
                        <td>Name:</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="overflow-cell-hs"
                                 th:text="${employee.name} + ' ' + ${employee.surname}"></div>
                        </td>
                    </tr>

                    <tr class="table-dark">
                        <td>Role:</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="overflow-cell-hs"
                                 th:text="${employee.role.name().substring(5)}"></div>
                        </td>
                    </tr>

                    <tr class="table-dark">
                        <td>Contact:</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="overflow-cell-hs"
                                 th:text="${employee.contactNumber}"></div>
                        </td>
                    </tr>

                    <tr class="table-dark">
                        <td>Created:</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="overflow-cell-hs"
                                 th:text="${employee.creationDate}">
                            </div>
                        </td>
                    </tr>

                    <tr class="table-dark">
                        <td>Expired:</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="overflow-cell-hs"
                                 th:text="${isExpired} ? ${employee.terminationDate} : '—'">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding-left:0;">
                            <a class="btn btn-dark bg-dark mt-2 w-100 def-button-text"
                               type="button" th:href="'/mg-emp'">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                                </svg>
                                Search
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </th:block>

        <th:block th:if="${employee} != null">
            <div class="col-sm-9">
                <table class="table table-borderless"
                       style="text-align: center; vertical-align: middle;">
                    <thead class="table-dark">
                    <tr>
                        <th scope="row" class="button-cell">Option</th>
                        <th scope="row" class="short-description-cell">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="button-cell">
                                <a th:href="'#'" type="button" class="btn btn-dark bg-dark mt-1 list-button w-100">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-list-check cb-svg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                                    </svg>
                                    <div class="list-button-text">Button</div>
                                </a>
                            </td>
                            <td class="short-description-cell">Description cell</td>
                        </tr>

                        <tr>
                            <td class="button-cell">
                                <a th:href="'#'" type="button" class="btn btn-dark bg-dark mt-1 list-button w-100">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-list-check cb-svg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                                    </svg>
                                    <div class="list-button-text">Button</div>
                                </a>
                            </td>
                            <td class="short-description-cell">Description cell</td>
                        </tr>

                        <tr>
                            <td class="button-cell">
                                <a th:href="'#'" type="button" class="btn btn-dark bg-dark mt-1 list-button w-100">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-list-check cb-svg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                                    </svg>
                                    <div class="list-button-text">Button</div>
                                </a>
                            </td>
                            <td class="short-description-cell">Description cell</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </th:block>
        <div th:insert="fragments/bottom::message-handler"></div>
    </div>
    <div th:include="fragments/bottom::bottom-footer"></div>
</div>
<div th:include="fragments/bottom::common-scripts"></div>
</body>
</html>