<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Rent-a-Car</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>

<body>
<div id="container">
    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div class="main">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-2 p-0 mt-3 mb-5">
                    <table class="table table-borderless table-fixed" style="text-align:start;">
                        <tbody>
                        <tr class="table-dark">
                            <td>View</td>
                        </tr>
                        <tr>
                            <td class="px-0">
                                <a th:href="'/overview/' + ${department.id}"
                                   class="btn btn-dark w-100 def-button-text mb-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                                    </svg>
                                    Back
                                </a>
                            </td>
                        </tr>
                        <tr class="table-dark">
                            <td>Department:</td>
                        </tr>
                        <form th:method="POST" th:action="@{/overview/statistics/refresh}" th:object="${refresh_form}">
                            <tr>
                                <td class="px-0">
                                    <button type="submit" class="btn btn-dark w-100 def-button-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
                                            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
                                        </svg>
                                        Refresh
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-0">
                                    <select class="form-select" th:field="*{departmentId}">
                                        <option th:each="department: ${departments}"
                                                th:value="${department.id}"
                                                th:text="${department.city} + ', ' + ${department.street} + ' ' + ${department.building}"></option>
                                    </select>
                                </td>
                            </tr>
                        </form>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-10 mt-3 mb-5" style="padding-left:1em;">
                    <div class="row bg-dark">
                        <div class="py-2" style="text-align:start;color:#fff;"
                             th:text="'Department - ' + ${department.city} + ', ' + ${department.street} + ' ' + ${department.building}"></div>
                    </div>
                    <div class="row">
                        <div class="row mt-3 mx-0" style="padding-right: 0;">
                            <div class="bg-dark p-2" style="text-align:start;color:#fff;font-weight:bold;"
                                 th:text="'Revenue'"></div>
                            <table class="table table-borderless table-hover table-fixed"
                                   style="text-align: center; vertical-align: middle;margin-bottom: 0;border-style:none;border-top-style:solid;border-color:white;">
                                <thead class="table-dark" style="font-size: small;">
                                <tr>
                                    <th scope="row" colspan="1"></th>
                                    <th scope="row" colspan="1">Current</th>
                                    <th scope="row" colspan="1">Account (Avg)</th>
                                    <th scope="row" colspan="1">All (Avg)</th>
                                </tr>
                                </thead>
                            </table>
                            <div class="scroll-70 px-0">
                                <table class="table table-bordered table-hover table-fixed"
                                       style="text-align: center; vertical-align: middle;font-size:small;border-style:solid;border-top-style:none;border-color:currentColor;">
                                    <tbody>
                                    <tr class="border-3 border-bottom border-dark">
                                        <td class="border-right border-left border-dark">
                                            <div class="overflow-cell-hidden" style="font-size:smaller;"
                                                 th:text="'Total: Revenue'"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="${department_statistics['total_revenue']}"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                        <td>
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden" style="font-size:smaller;"
                                                 th:text="'Total: Service'"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="${department_statistics['summary_payment']}"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                        <td>
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden" style="font-size:smaller;"
                                                 th:text="'Est. Car fees'"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="${department_statistics['car_fees']}"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                        <td>
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden" style="font-size:smaller;"
                                                 th:text="'Est. Divergence fees'"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="${department_statistics['divergence_fees']}"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                        <td>
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden" style="font-size:smaller;"
                                                 th:text="'Cancellation fees'"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="${department_statistics['cancellation_payment']}"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                        <td>
                                            <div class="overflow-cell-hidden"
                                                  th:text="'—'"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden" style="font-size:smaller;"
                                                 th:utext="'<svg xmlns=&quot;http://www.w3.org/2000/svg&quot; width=&quot;16&quot; height=&quot;16&quot; fill=&quot;currentColor&quot; class=&quot;bi bi-info-circle&quot; viewBox=&quot;0 0 16 16&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;top&quot; title=&quot;Sum of payments above base price of rental service. (ex. Utilities)&quot;><path d=&quot;M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z&quot;/>
<path d=&quot;m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z&quot;/></svg> ' + 'Add. Positives:'"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="${department_statistics['add_positives']}"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                        <td>
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                    </tr>
                                    <tr class="border-3 border-bottom border-dark">
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden" style="font-size:smaller;"
                                                 th:utext="'<svg xmlns=&quot;http://www.w3.org/2000/svg&quot; width=&quot;16&quot; height=&quot;16&quot; fill=&quot;currentColor&quot; class=&quot;bi bi-info-circle&quot; viewBox=&quot;0 0 16 16&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;top&quot; title=&quot;Sum of missing payments below base price of rental service. (ex. Discounts, Benefits)&quot;><path d=&quot;M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z&quot;/>
<path d=&quot;m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z&quot;/></svg> ' + 'Add. Negatives:'"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="${department_statistics['add_negatives']}"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                        <td>
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden" style="font-size:smaller;"
                                                 th:text="'Pending deposit'"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="${department_statistics['pending_deposit']}"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                        <td>
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden" style="font-size:smaller;"
                                                 th:text="'Released'"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="${department_statistics['released_deposit']}"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                        <td>
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden" style="font-size:smaller;"
                                                 th:text="'Charged'"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="${department_statistics['charged_deposit']}"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                        <td>
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row mt-3 mx-0" style="padding-right: 0;">
                            <div class="bg-dark p-2" style="text-align:start;color:#fff;font-weight:bold;"
                                 th:text="'Rentals'"></div>
                            <table class="table table-borderless table-hover table-fixed"
                                   style="text-align: center; vertical-align: middle;margin-bottom: 0;border-style:none;border-top-style:solid;border-color:white;">
                                <thead class="table-dark" style="font-size: small;">
                                <tr>
                                    <th scope="row" colspan="1"></th>
                                    <th scope="row" colspan="1">Current</th>
                                    <th scope="row" colspan="1">Account (Avg)</th>
                                    <th scope="row" colspan="1">All (Avg)</th>
                                </tr>
                                </thead>
                            </table>
                            <div class="scroll-70 px-0">
                                <table class="table table-bordered table-hover table-fixed"
                                       style="text-align: center; vertical-align: middle;font-size:small;border-style:solid;border-top-style:none;border-color:currentColor;">
                                    <tbody>
                                    <tr>
                                        <td class="border-right border-left border-dark">
                                            <div class="overflow-cell-hidden" style="font-size:smaller;"
                                                 th:text="'Reserved'"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                        <td>
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-right border-left border-dark">
                                            <div class="overflow-cell-hidden" style="font-size:smaller;"
                                                 th:text="'Rented'"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                        <td>
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-right border-left border-dark">
                                            <div class="overflow-cell-hidden" style="font-size:smaller;"
                                                 th:text="'% Cancellation'"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                        <td>
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row mt-3 mx-0" style="padding-right: 0;">
                            <div class="bg-dark p-2" style="text-align:start;color:#fff;font-weight:bold;"
                                 th:text="'Retrievals'"></div>
                            <table class="table table-borderless table-hover table-fixed"
                                   style="text-align: center; vertical-align: middle;margin-bottom: 0;border-style:none;border-top-style:solid;border-color:white;">
                                <thead class="table-dark" style="font-size: small;">
                                <tr>
                                    <th scope="row" colspan="1"></th>
                                    <th scope="row" colspan="1">Current</th>
                                    <th scope="row" colspan="1">Account (Avg)</th>
                                    <th scope="row" colspan="1">All (Avg)</th>
                                </tr>
                                </thead>
                            </table>
                            <div class="scroll-70 px-0">
                                <table class="table table-bordered table-hover table-fixed"
                                       style="text-align: center; vertical-align: middle;font-size:small;border-style:solid;border-top-style:none;border-color:currentColor;">
                                    <tbody>
                                    <tr>
                                        <td class="border-right border-left border-dark">
                                            <div class="overflow-cell-hidden" style="font-size:smaller;"
                                                 th:text="'Completed'"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                        <td>
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-right border-left border-dark">
                                            <div class="overflow-cell-hidden" style="font-size:smaller;"
                                                 th:text="'Avg. Duration'"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                        <td>
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-right border-left border-dark">
                                            <div class="overflow-cell-hidden" style="font-size:smaller;"
                                                 th:text="'Avg. Mileage'"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                        <td class="border-right border-dark">
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                        <td>
                                            <div class="overflow-cell-hidden"
                                                 th:text="'—'"></div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:include="fragments/bottom::bottom-footer"></div>
    <div th:insert="fragments/bottom::message-handler"></div>
</div>
<div th:include="fragments/bottom::common-scripts"></div>
</body>
</html>