<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Rent-a-Car</title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
</head>

<body>
<div id="container" class="container-md">
    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div id="main">
        <form th:method="POST" th:object="${address_form}" th:action="@{/profile/address}">
            <table class="table table-borderless" style="width: fit-content;">
                <thead class="table-dark">
                <tr>
                    <th scope="row">Change address</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <select id="country"
                                class="form-control"
                                th:type="text" th:field="*{country}"
                                required>
                            <div th:each="country:${countries}">
                                <option th:text="${country.getCountryName()}" th:value="${country}"></option>
                            </div>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="city"
                               class="text-black bg-white" placeholder="City"
                               th:type="text" th:field="*{city}"
                               required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="address"
                               class="text-black bg-white" placeholder="Address"
                               th:type="text" th:field="*{address}"
                               required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-save" viewBox="0 0 16 16">
                                <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                            </svg>
                            Change
                        </button>
                        <a href="/profile" type="button" class="btn btn-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                            </svg>
                            Back
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:insert="fragments/bottom::form-error-handler"></div>
        </form>
        <div th:include="fragments/bottom::bottom-footer"></div>
    </div>
</div>
<div th:include="fragments/bottom::common-scripts"></div>
</body>
</html>