<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Rent-a-Car</title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
</head>

<body>
<div id="container" class="container-md">
    <div th:include="fragments/top::logo-bar" th:with="title='Log In'"></div>

    <div style="height: 40vh; display: flex; justify-content: center; align-items: center;">
        <form style="width:50%" th:action="@{/login}" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Login</label>
                <input type="email" class="form-control" id="email" placeholder="user@email.com" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="d-grid gap-2 col-6 mx-auto mt-5">
                <button type="submit" class="btn btn-dark">Log In</button>
                <p style="justify-self: center;">No account? <a href="/register" class="underline font-semibold text-black">Register</a>!</p>
            </div>
        </form>
    </div>
    <div th:insert="fragments/bottom::message-handler"></div>
    <div th:include="fragments/bottom::common-scripts"></div>
</div>
</body>
</html>