<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Rent-a-Car</title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
</head>

<body>
<div id="container" class="container-md">
    <div th:include="fragments/top::logo-bar" th:with="title='Join Us'"></div>

        <form style="width: 70%; margin: auto; margin-top: 5%;" th:object="${customer}" th:action="@{/register}" method="post">
            <div class="d-grid" style="grid-template-columns: repeat(2, 1fr);">
                <div style="grid-column: 1; padding: 3%;">
                    <div class="mb-3">
                        <label for="email" class="form-label">Login</label>
                        <input type="email" class="form-control" id="email" placeholder="user@email.com" th:field="*{username}" autocomplete="new-password"
                               name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" th:field="*{password}" autocomplete="new-password" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm password</label>
                        <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}" name="confirmPassword"
                               required>
                    </div>
                </div>


                <div style="grid-column: 2; padding: 3%;">
                    <div class="d-inline-flex w-100">
                        <div class="mb-3 w-100" style="margin-right: 2%;">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name"
                                   name="name" th:field="*{name}" required>
                        </div>
                        <div class="mb-3 w-100">
                            <label for="surname" class="form-label">Surname</label>
                            <input type="text" class="form-control" id="surname"
                                   name="surname" th:field="*{surname}" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="contact" class="form-label">Contact number</label>
                        <input type="text" class="form-control" id="contact"
                               name="contactNumber" th:field="*{contactNumber}" required>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto mt-5">
                        <button type="submit" class="btn btn-dark">Register</button>
                    </div>
                    <div style="text-align: center; margin-top: revert; display: grid; grid-template-rows: auto auto; justify-items: center;">
                        <p style="grid-row-start: 1; grid-row-end: 1; margin-bottom: 0; margin-top: revert;">Already have an account?</p>
                        <a href="/login" class="underline font-semibold text-black"
                           style="grid-row-start: 2; grid-row-end: 2;">Log in</a>
                    </div>
                </div>
            </div>
            <div th:insert="fragments/bottom::form-error-handler"></div>
        </form>
        <div th:insert="fragments/bottom::message-handler" style="width: inherit;"></div>
    <div th:include="fragments/bottom::common-scripts"></div>
</div>
</body>
</html>